:root {
  --primary-color1: #fff;
  --primary-color2: #008000;
  --header-font: 'Poppins-SemiBold';
  --body-font: 'Poppins-Regular';
}

/*Start of common styles*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Poppins-Regular';
  src: url('assets/fonts/Poppins-Regular.ttf'), format('tff');
}

@font-face {
  font-family: 'Poppins-SemiBold';
  src: url('assets/fonts/Poppins-SemiBold.ttf'), format('ttf');
}

html, body {
  font-family: var(--body-font), sans-serif;
  background-color: #e4e4e4;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.bold {
  font-weight: 600;
}

/*End of common styles*/

.container {
  position: relative;
  background-color: #e4e4e4;
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  min-height: 100dvh;
}

.header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  gap: 15%;
  padding: 1vh 10px;
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.3);
  z-index: 100;
  background-color: inherit;
}

.nav, .destination-wrapper {
  display: flex;
  gap: 20px;
}

.nav {
  flex: auto 1 0;
  justify-content: space-between;
}

.delivery-method-wrapper, .delivery-method, .location, .account-wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 15px;
  border: none;
  padding: 3px 5px;
}

.delivery-method-wrapper {
  position: relative;
}

.delivery-method  {
  justify-content: center;
  color: #4b5563;
  transition: color 0.3s ease;
  position: relative;
}

.delivery-method.active {
  color: #1f2937;
}

.delivery-method.active path {
  fill: var(--primary-color2);
}

.delivery-method path {
  fill: black;
  transition: fill 0.3s ease;
}

.slider {
  width: calc(50%);
  height: calc(100% - 4px);
  top: 1px;
  left: 3px;
  background-color: #fff;
  position: absolute;
  border-radius: 15px;
  transition: transform 0.3s ease;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.slide-right {
  transform: translateX(100%);
}

.account-wrapper {
  gap: 20px;
}

.cart {
  position: relative;
  padding: 5px;
}

.items-number {
  position: absolute;
  top: -7px;
  right: -8px;
  background-color: var(--primary-color2);
  color: #fff;
  min-width: 16px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  padding: 1px;
  text-align: center;
}

.create-account-btn, .browse {
  background: var(--primary-color2);
  padding: 10px 15px;
  border-radius: 20px;
  color: var(--primary-color1);
}

.cart-open.hide {
  display: none;
}

.cart-open {
  position: absolute;
  z-index: 200;
  background-color: var(--primary-color1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px 10px;
  top: 6.5vh;
  right: 15%;
  transition: transform 0.9s ease;
}

.browse {
  width: 100%;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 5px;
}

.food-filters-wrapper {
  position: relative;
  margin: 2rem auto;
  width: 90%;
  max-width: 1000px;
  height: 100px;
}

.food-filters-container {
  display: flex;
  gap: 1rem;
  overflow: auto;
  scroll-behavior: smooth;
  padding: 12px 8px;
}

.food-filters-container::-webkit-scrollbar {
  display: none;
}

.food-type {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  text-align: center;
  flex: 5.4rem 0 0;
  height: auto;
  transition: transform 0.3s ease;
}

.food-type img {
  background: #fff;
  padding: 0.5rem;
  border-radius: 50%;
}

.scroll {
  background: whitesmoke;
  position: absolute;
  top: 50%;
  z-index: 10;
  padding: 0.3rem;
  border-radius: 50%;
  transition: transform 0.5s ease;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.scroll:hover, .food-type.active, .food-type:hover {
  transform: scale(1.05);
  font-family: 'Poppins-SemiBold', sans-serif;
}

.food-type.active > span::before {
  content: '\2713';
  margin-right: 4px;
}

.scroll.left {
  transform: rotateY(180deg) translateY(-50%);
  left: -1rem;
}

.scroll.right {
  right: -1rem;
  transform: translateY(-50%);
}

.main-content {
  background-color: var(--primary-color1);
  min-height: calc(99dvh - 24px - 12rem);
  display: flex;
  gap: 2rem;
  padding: 2rem;
  border-radius: 2rem;
}

.filter-container {
  flex: 170px 0 0;
}

.filter-wrapper {
  display: flex;
  justify-content: space-between;
}

.star-wrapper svg path {
  fill-rule: evenodd;
  fill: var(--primary-color2);
}

.star-wrapper.filled path {
  fill-rule: nonzero;
  fill: var(--primary-color2);
}

.restaurants-lists {
  flex: calc(100% - 170px - 1rem) 0 0;
}

.find-wrapper {
  display: flex;
  gap: 4rem;
  padding: 0 12px;
  position: relative;
}

.search {
  flex: 80% 0 1;
  border: none;
  outline: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  padding: 4px 12px 4px 24px;
  background-color: #e4e4e4;
}

.search::placeholder {
  color: #000;
}

.search-icon {
  position: absolute;
}

.sort-by {
  flex: 150px 0 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 12px;
  background-color: #e4e4e4;
}

.sort {
  background-color: var(--primary-color1);
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 1rem;
  position: absolute;
  top: 2rem;
  right: 0.5rem;
}

.hide {
  display: none;
}

.sort-options > div:not(:first-of-type) {
  margin: 6px 0;
}

.sort-options label {
  cursor: pointer;
}

.confirmation-wrapper {
  display: flex;
  gap: 12px;
  justify-content: flex-end;
}

.confirmation-wrapper > .submit {
  background-color: var(--primary-color2);
  padding: 8px 12px;
  border-radius: 24px;
}

.restaurants-container {
  margin-top: 3vh;
}

.number-opened {
  font-size: 1.3rem;
}

.displayed-restaurants{
  display: flex;
  flex-direction: column;
  gap: 4vh;
  margin-top: 3vh;
}

.restaurant-card {
  background-color: var(--primary-color1);
  box-shadow: 1px 2px 5px 3px rgba(0, 0, 0, 0.1);
  display: flex;
  gap: 8px;
  border-radius: 12px;
}

.restaurant-name {
  font-size: 1.2rem;
}

.card-image {
  width: 150px;
  aspect-ratio: 16 / 11;
  border-radius: 12px 0 0 12px;
}

.cuisines {
  color: #4b5563;
  font-size: 0.85rem;
}

.restaurant-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card-footer, .card-footer > * {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 0.85rem;
}

.center-dot {
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.3);
}
